/* JsonComparison.css */

.json-comparison {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.json-container {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: auto;
  white-space: pre;
  tab-size: 2;
  text-align: left; /* Add this property to align the text to the left */
}

.separator {
  width: 1px;
  background-color: #ddd;
}

.json-text {
  font-size: 12px;
}

.json-input{
  box-shadow: #c2fbd7 2px 8px 8px -5px;
  transition: all 235ms ease-in-out;
}

.json-input:hover{
  box-shadow: #c2fbd7 15px 28px 25px -2px;
  transform: translate3d(0, 2px, 0);
}

.json-input:focus{
  box-shadow: #c2fbd7 15px 28px 25px -2px;
}