/* CSS */
.beautify-button {
  align-self: center;
  background-color: #743d7c;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: #c2fbd7 6px 19px 13px -13px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  border: none;
  touch-action: manipulation;
}

.beautify-button:hover {
  box-shadow: #c2fbd7 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.beautify-button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.beautify-botton-img {
  width: 10%;
}

.left {
  margin-right: 10px;
}
.right {
  margin-left: 10px;
}
