.dropdown-container {
  display: flex;
  flex-direction: column;
}

.dropdown-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-menu {
  display: flex;
  margin: 0;
  padding: 10px;
  flex-direction: column;
  text-align: start;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.dropdown-item {
  display: block;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.dropdown-item.not-active {
  background-color: white;
}

.dropdown-item.active {
  background-color: #f5f5f5;
}

.cross-dropdown-item {
  color: gray;
  border-radius: 50%;
  display: inline-grid;
  width: 17px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1px;
  top: 0;
}
